greeting-automation.json
{
  "name": "Greeting Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "9de1fddd-910f-44bb-b7c5-a10aed1ab44c",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        944,
        80
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1SZSdXF-T2cM8JCSlfbA5PJjx3kt8XPB1ukgoVjDh-H0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {}
      },
      "id": "d14f2000-2405-442a-9c89-b62f274a9ad5",
      "name": "Get Birthday Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1168,
        80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PcLsdi7tWTawjDWN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "christinejoy.agkis@gmail.com",
        "toEmail": "={{ $json.Email }}",
        "subject": "=Happy Birthday, {{ $json.Name }}!",
        "html": "=Dear {{ $json.Name }},\n\n<p>Happy Birthday! 🎉 Wishing you a day full of joy, laughter, and wonderful memories. May this year bring you countless blessings, exciting adventures, and moments that make your heart smile. Celebrate every little joy and cherish the love of those around you!</p>\n\n<img src=https://i.postimg.cc/DyZNM3cS/Birthday-Greeting.png\" alt=\"Birthday Image\" width=\"400\">",
        "options": {}
      },
      "id": "8e30bf4e-a849-473c-8f9b-1cee4df3de03",
      "name": "Send Birthday Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1616,
        80
      ],
      "webhookId": "cda82e82-8e40-4387-ab3e-f5be7fedb5cb",
      "credentials": {
        "smtp": {
          "id": "foBDa4A49vGUj5k9",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "547f0842-7b0b-4ddb-be3a-507ea17dd276",
              "leftValue": "={{ \n  (() => {\n    const raw = String($json[\"Birthday\"] || \"\").trim();\n    const parts = raw.split(/[^0-9]/).filter(Boolean);\n\n    if (parts.length < 2) return \"\";  // no valid date\n\n    const mm = parts[0].padStart(2, \"0\");  \n    const dd = parts[1].padStart(2, \"0\");\n\n    // Return MM/DD for comparison\n    return `${mm}/${dd}`;\n  })() \n}}\n",
              "rightValue": "={{ \n  (() => {\n    const d = new Date(new Date().toLocaleString(\"en-US\", { timeZone: \"Asia/Manila\" }));\n    const mm = String(d.getMonth() + 1).padStart(2, \"0\");\n    const dd = String(d.getDate()).padStart(2, \"0\");\n    return `${mm}/${dd}`;\n  })() \n}}\n",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1392,
        80
      ],
      "id": "f4d01826-04a1-4099-9236-1bf0d98ae119",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Get Birthday Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Birthday Data": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send Birthday Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "10eee6b9-0149-4bbc-8b23-991a30b5087e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9817de2f29efbde7a26943794c80124b8d8b2d35e2946c83ffd638e3cfce02c1"
  },
  "id": "56Iemt4OGzhBtV21",
  "tags": []
}
